td.grid{
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	border: 1px solid gray;
	font-weight: bold;
}
td.normal{
	background-color: #dfdfdf;
}
td.focus{
	background-color: #aaaadd;
}
td.sweeped{
	background-color: #ffffff;
}
